<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Prize</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--&lt;!&ndash;            <ul class="navbar-nav me-auto mb-2 mb-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="nav-link" th:href="@{/}">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--        </div>-->
        <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarSupportedContent">>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-popper="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <span sec:authentication="name"></span></a>
                    <ul class="dropdown-menu" data-bs-popper="static">
                        <li><a class="dropdown-item" th:href="@{/logout}">logout</a></li>
                        <li><a class="dropdown-item" th:href="@{/profile}"></a>edit profile</li>
                    </ul>
                 </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">สวัสดี <b><span sec:authentication="name"></span></b></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>-->
<!--                </li>-->
            </ul>
        </div>
        <div sec:authorize="isAnonymous()">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-primary" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</nav>
</body>
</html>