<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Prizes Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container">

    <h1 class="display-6">Welcome to Web Application for collect your prizes</h1>

    <div sec:authorize="isAuthenticated()">
        <p><span th:text="${greeting}"></span> คุณ <b><span sec:authentication="name"></span></b></p>
        <a class="link-offset-3-hover link-underline-opacity-0" th:href="@{/profiles/add}">เพิ่มเติมโปรไฟล์</a>
        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a class="btn btn-primary" th:href="@{/login}">เข้าสู่ระบบ</a>
        <a class="btn btn-light" th:href="@{/signup}">ลงทะเบียน</a>
    </div>


</div>

</body>
</html>